<mat-toolbar color="primary">
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
   </button>
   <span>CINEMA SN</span>
   <span class="example-spacer"></span>
   <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
   </button>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
   </button>
</mat-toolbar>

<div class="col-12 flex justify-content-center my-6">
   <img width="350" src="assets/cinema-sn-logo.png" alt="">
</div>

<div class="col-12 flex justify-content-center">
   <app-buscador></app-buscador>
</div>

<div class="col-12 flex justify-content-center">
   <app-filme-card></app-filme-card>
</div>